body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 60px;
    
}
/* div {
    min-height: 100vh;
    width: 100vw;
} */
h1, h2 {
    text-align: center;
}
h1 {
   font-size: 60px;
   color: #273b62;
}

h2 {
    font-size: 20px;
    color: darkgrey;
} 
/* ul {
    list-style: square;
    margin-left: 15px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: stretch;
}

li {
    margin: 10px;
}
*/

.mynavbar {
    background-color: #273b62;
    font-size: medium;
    color: rgb(250, 246, 246);
    
}
.notfound {
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
  
}
.mb-3, .mb-5 {
    color: black;
}
a.navbar-brand {
    padding: 0px;
    padding-left: 15px;
}
a.mya {
    color: white !important;
}
a.mya:hover {
    text-decoration: underline !important;
}
.gal {
	
	
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}